<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OutsourcingSoap" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
                    <readerQuotas maxStringContentLength="2000000" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://132.248.180.207/wsfesaoutsorcing/Outsourcing.asmx"
                binding="basicHttpBinding" bindingConfiguration="OutsourcingSoap"
                contract="WSOutsourcing.OutsourcingSoap" name="OutsourcingSoap" />
        </client>
    </system.serviceModel>
</configuration>
